<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>54159755540-4ja38mpf9vt9e9h8hb75m78ptnk0m181.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54159755540-4ja38mpf9vt9e9h8hb75m78ptnk0m181</string>
	<key>API_KEY</key>
	<string>AIzaSyAbGXjzqCW_umCBY-0UIaNO3S7UxmctlSc</string>
	<key>GCM_SENDER_ID</key>
	<string>54159755540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atheer.projects.Jawwab</string>
	<key>PROJECT_ID</key>
	<string>jawwabv1</string>
	<key>STORAGE_BUCKET</key>
	<string>jawwabv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54159755540:ios:a35848c52d456d13</string>
	<key>DATABASE_URL</key>
	<string>https://jawwabv1.firebaseio.com</string>
</dict>
</plist>